@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italiana&display=swap');




*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Italiana", serif;
}

body{
    background-color: rgb(61, 66, 66);  /*color de todo el fondo*/
}

#header{
    background-color: rgba(139, 53, 53, 0.742);
    height: 10vh;
}

.menu_hamb{
    display: none;
}
.menu_hamb:checked + .ul_links{
    height: calc(80vh - 30vh);
    transition: all 0.5s ease-in-out;
}

.navbar{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    flex-wrap: wrap;
    padding: 0 3rem;
}

.ul_links{
    width: 100%;
    position: absolute;
    background-color: rgb(195, 255, 127);
    top: 10vh;
    height: calc(100vh - 10vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    height: 0;
    overflow: hidden;

}

@media (min-width: 768px){
    .labe_hamb{
        display: none;

    }
    .ul_links{
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
    }


}




/*codigop que hace parte unicamente aa la pagina de ingresar cuenta*/



/*qui termina el codigo que pertenece unimente a la pagina para ingreasr cuenta o inicio*/